kg-gen
PyMuPDF
spacy-nightly>=3.7.0.dev0
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.7.0/en_core_web_sm-3.7.0.tar.gz#egg=en_core_web_sm
rdflib
plotly
nbformat
ipywidgets
lxml
sympy
pygraphviz
streamlit
networkx
streamlit-plotly-events
matplotlib
numpy==1.24.4
