kg-gen
PyMuPDF
spacy==3.7.2
en_core_web_sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.5.0/en_core_web_sm-3.5.0.tar.gz
rdflib
plotly
nbformat
ipywidgets
lxml
sympy
pygraphviz
streamlit
networkx
streamlit-plotly-events
