kg-gen
PyMuPDF
spacy==3.5.0
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.5.0/en_core_web_sm-3.5.0.tar.gz#egg=en_core_web_sm
rdflib
plotly
nbformat
ipywidgets
lxml
sympy
pygraphviz
streamlit
networkx
streamlit-plotly-events
